.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 5vw;
    padding: 0;
    list-style-type: none;
}

.card {
    position: relative;
    display: block;
    height: 100%;
    border-radius: 3%;
    overflow: hidden;
    text-decoration: none;
}

.card__image {
    width: 100%;
    aspect-ratio: 16/9;
}

.card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transform: translateY(calc(80% - 1.3rem));
    transition: .1s ease-in-out;
}

.card:hover .card__overlay {
    transform: translateY(0);
}

.card:hover .card_title {
    transform: translateY(0);
}

.card__title {
    font-size: 1.3rem;
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
    position: relative;
    text-align: left;
    border-radius: 0 50% 0 0;
    background-color: rgba(134, 149, 172, 0.412);
    /* transform: translateY(-100%); */
    transition: .1s ease-in-out;
    margin: 0;
    padding: 2%;
    color: #FFFFFF;
}


.card__description {
    margin: 0;
    padding: 4%;
    color: #FFFFFF;
    font-family: "roboto";
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    background-color: rgba(134, 149, 172, 0.412);
    overflow: hidden;
}