<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}</title>
        
        <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        </script>
    

        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="{{ "style.css"|url }}">

    </head>
    <body style="background-color: #717578">
        <ul id="nav">
            <li>
                <img src="./assets/fBkBhzqW29rAWNfKazaXLD6OkJ7VuYTQO6W5oD_YzeE.png"/>
            </li>
            {% for nav_item in nav %}
                {% include "nav.html" %}
            {% endfor %}
        </ul>
        <div style="margin-left:25%;padding:1px 16px;height:1000px;">{{ page.content }}</div>
         
        
        <script  src="./index.js"></script>
    </body>
</html>
