body{
    margin:0;
    
}

#nav {
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 23%; /*choose your width*/
    background-color: #45494C; /*choose your color*/
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}
#nav a{
    display: block; 
    color: lightgray; /*actual color*/
    padding: 8px 16px;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#nav a:hover {
    background-color: #7ED9CF; /*choose your color*/
    color: black;
}
.container {
    /* display: flex; */
    position: fixed; 
    left: 210px;
    right: 10px;
    color: white;
    /* background-color: black; */
    min-width: 1000px;
    overflow: hidden;
}
/* body > * :not(#nav){
    background-color:blue
} */